.main {
    width: 100px;
}
.smokeScreen {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.header {
    width: 100%;
    height: 300px;
    position: relative;
}
.header__backgroundContainer {
    width: 100%;
    height: 100%;
}
.header__background {
    background-image: url("https://image.tmdb.org/t/p/original/odJ4hx6g6vBt4lBWKFD1tI8WS4x.jpg");
    width: 100%;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    height: 100%;
}
.heading {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 12%;
    font-size: 60px;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}
.input {
    display: block;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    left: 50%;
    top: 60%;
    width: 420px;
    height: 30px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 3px 16px;
    &::placeholder {
        font-family: Arial, Helvetica, sans-serif;
    }
}